{% extends 'base.html.twig' %}

{% block title %}Blog - Assurance{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/newArticle.css') }}">
{% endblock %}

{% block body %}

    <div id="newArticleContainer">
    
        <div id="newArticleContent">
            <h1 class="mb-5 text-center">Assurance - Créer un article</h1>

            {{ form_start(articleForm) }}

                <div class="form-group">
                    {{ form_row(articleForm.title) }}
                </div>
                <div class="form-group">
                    {{ form_row(articleForm.content) }}
                </div>
                <div class="form-group">
                    {{ form_row(articleForm.image) }}
                </div>
                <div class="text-center">
                    {{ form_row(articleForm.submit) }}
                </div>

            {{ form_end(articleForm) }}
        </div>

    </div>

{% endblock %}