{% extends 'base.html.twig' %}

{% block title %}Assurance retraite madelin{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div class="autoContainer">

        <!-- Gestion des messages de succès/erreur -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-5 mb-1">Votre assurance retraite madelin</h1>
        <div class="autoContent">
            <div class="autoItem">
                <p>
                   En tant que professionnels indépendants, nous vous proposons notre expertise pour l'étude de votre contrat retraite dans le cadre de la Loi Madelin. Cette loi vous permet de déduire de votre revenu imposable les cotisations versées au titre de votre protection sociale (santé, prévoyance et retraite).</p>
                <img src="{{ asset('assets/images/assurances/random3.png') }}" alt="Assurance-auto" class="image"/>
            </div>
            <div class="autoItem">
                <h3 class="text-center">Demandez un devis dès maintenant !</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
    </div>

{% endblock %}