{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href=" {{ asset('assets/css/secteur-particulier.css') }}">

<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

{% endblock %}

{% block body %}
<div class="bgcontainer">

    <div class="flexCenter">
        <h1 class="marginTop">Assurance entreprises</h1>
    </div>

    <div class="main">
        <div class="left">
            <div class="swiper-container-secteur">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                        <div class="oui">
                            <h3 class="titleSlide">Yonathan</h3> 
                            <p class="txtSlide">"Il existe une multitude d'offre mais une seule est pour vous."</p> 
                            <img class="imgSlide" src="./../../../assets/images/accueil/slideY.png">
                        </div>
                    </div>

                    <div class="swiper-slide"> 
                        <div class="oui">
                                <h3 class="titleSlide">Benjamin</h3> 
                                <p class="txtSlide">""Les contrats n'ont pas de secret pour moi.""</p> 
                                <img class="imgbenj imgSlide" src="./../../../assets/images/accueil/slideB.png">
                            </div>
                     </div>

                    <div class="swiper-slide"> 
                        <div class="oui">
                                <h3 class="titleSlide">Melissa</h3> 
                                <p class="txtSlide">"En cas de sinistre, vous n'avez pas le temps d'attendre."</p> 
                                <img class="imgbenj imgSlide" src="./../../../assets/images/accueil/slideM.png">
                        </div>
                    </div>

                </div>
            </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
        </div>
        
        


        <div class="flexContainer">
            <div class="ligne">

                <div class="bdyAssu">
                    <a href="{{path('santeCollective')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/random6.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Santé collective</p>
                            </div>
                        
                    </a> 
                </div>
                <div class="bdyAssu" >
                    <a href="{{path('responsabiliteCivile')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/random1.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Responsabilité civique</p>
                            </div>
                    </a> 
                </div>

                <div class="bdyAssu">
                    <a href="{{path('flotteAutoMoto')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/assu-auto.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Flottes auto/moto</p>
                            </div>
                    </a> 
                 </div>

                <div class="bdyAssu" >
                    <a href="{{path('retraiteCollective')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/retraite.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Retraite collective</p>
                            </div>
                    </a>
                </div> 

                <div class="bdyAssu">  
                    <a href="{{path('AssurancePretParticulier')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/pret1.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Assurance de prêt</p>
                            </div>
                    </a> 
                </div>
            </div>

            <div class="ligne">
                <div class="bdyAssu">
                    <a href="{{path('locauxProfessionnels')}}">
                        <img class="imgAssu" src="{{ asset('assets/images/assurances/local.png') }}" alt=" image cap">
                        <div class="assu">
                            <p class="txtAssu">Locaux professionnels</p>
                        </div>
                    </a> 
                </div>
                <div class="bdyAssu">
                    <a href="{{path('femmeHommeCle')}}">
                        <img class="imgAssu" src="{{ asset('assets/images/assurances/random5.png') }}" alt=" image cap">
                        <div class="assu">
                            <p class="txtAssu">Femme et homme clé</p>
                        </div>
                    </a> 
                </div>
                <div class="bdyAssu">
                    <a href="{{path('PercoPee')}}">
                        <img class="imgAssu" src="{{ asset('assets/images/assurances/percopee.png') }}" alt=" image cap">
                        <div class="assu">
                            <p class="txtAssu">Perco & Pee</p>
                        </div>
                    </a> 
                </div>
                <div class="bdyAssu">
                    <a href="{{path('protectionJuridiqueFiscale')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/juge.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Protection juridique et financière</p>
                            </div>
                    </a> 
                 </div>
                 <div class="bdyAssu">
                    <a href="{{path('cyberAssurance')}}">
                            <img class="imgAssu" src="{{ asset('assets/images/assurances/cyber.png') }}" alt=" image cap">
                            <div class="assu">
                                <p class="txtAssu">Cyber-assurance</p>
                            </div>
                    </a> 
                 </div>
            </div>

        </div>

    </div>

</div>

<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>

<script src="{{ asset('assets/js/secteur.js') }}"></script>




{% endblock %}