{% extends 'base.html.twig' %}

{% block title %}Liberales, Artisans et Commercants{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/secteur-liberales-artisans-commercants.css') }}">{% endblock %}

{% block body %}
<div class="bigcontainer">
    <div class="flexCenter">
        <h1 class="marginTop">Assurances Liberales, Artisans et Commercants</h1>
    </div>

    <div class="flexContainer"> 
            <a href="#">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Assurance laveries</p>
                </div>
            </div>
            </a> 
            <a href="{{path('femmeHommeCle')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Femme et homme clé</p>
                </div>
            </div>
            </a> 
            <a href="{{path('santeMadelin')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Santé madelin</p>
                </div>
            </div>
            </a> 
            <a href="{{path('responsabiliteCivile')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Responsabilité civique</p>
                </div>
            </div>
            </a> 
            <a href="#">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Assurance de prêt</p>
                </div>
            </div>
            </a> 
            <a href="{{path('locauxProfessionnels')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Locaux professionnels</p>
                </div>
            </div>
            </a> 
            <a href="{{path('retraiteMadelin')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Retraite madelin</p>
                </div>
            </div>
            </a> 
            <a href="{{path('provoyanceMadelin')}}">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Prévoyance madelin</p>
                </div>
            </div>
            </a> 
            <a href="#">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Protection juridique et financière</p>
                </div>
            </div>
            </a> 
            <a href="#">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://developer.mozilla.org/static/img/favicon144.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Cyber-assurance</p>
                </div>
            </div>
            </a> 
</div>






{% endblock %}