{% extends 'base.html.twig' %}

{% block title %}Protection juridique{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div class="autoContainer">

        <!-- Gestion des messages de succès/erreur -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mb-1">Protection juridique</h1>

        <div class="autoContent">
            <div class="autoItem">
                <p>
                    Accompagner et défendre les professionels et les entreprises face aux conflits qui peuvent les opposer à leurs fournisseurs/clients/salariés et administration.   
                </p><br>
                <img src="{{ asset('assets/images/assurances/judge.png') }}" alt="Assurance-auto" width="140%"/>
            </div>
            <div class="autoForm">
                <h3 class="text-center">Demandez un devis dès maintenant&nbsp!</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
    </div>

{% endblock %}