{% extends 'base.html.twig' %}

{% block title %}Votre assurance prêt{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div class="autoContainer">

        <!-- Gestion des messages de succès/erreur -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mb-1">Votre assurance prêt</h1>

        <div class="autoContent">
            <div class="autoItem">
                <br><p>
                    Dans le cadre de votre développement, emprunter est une nécessité. L'organisme financier peut vous demander de vous assurer contre les aléas de la vie et ainsi protéger votre emprunt.</p><br>
                <p>
                    Assurance & Cie vous accompagne dans vos démarches comparatives afin de trouver la garantie qui vous convient au meilleur prix.</p><br>
                <p>
                    Demandez votre devis comparatif sans engagement.</p><br>

                <img src="{{ asset('assets/images/assurances/pret1.png') }}" alt="Assurance de prêt" width="70%"/>
            </div>
            <div class="autoForm">
                <h3 class="text-center">Demandez un devis dès maintenant !</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
    </div>

{% endblock %}