{% extends 'base.html.twig' %}

{% block title %}Cyber assurance{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div id="autoContainer">

        <!-- Gestion des messages de succès/erreur -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-5 mb-1">La cyber assurance</h1>
        <div id="autoContent">
            <div class="autoItem">
                <p><strong>
                Assurance & Cie vous apporte les solutions  aux conséquences des risques numériques sur l’activité des TPE et PME.</strong></p> <br>
                <p>
                Le contrat garantit les dommages subis ou causés par l’entreprise suite à une <strong>atteinte à son système informatique ou à ses données,</strong> mais également et en option les dommages subis suite à une <strong>fraude.</strong></p><br>
            </div>
            <div class="autoItem">
                <h3 class="text-center">Demandez un devis dès maintenant !</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
    </div>

{% endblock %}