{% extends 'base.html.twig' %}

{% block title %}Santé collective{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/assurance-auto.css') }}">{% endblock %}

{% block body %}
    
    <div id="autoContainer">

        <!-- Gestion des messages de succès/erreur -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger my-3">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-5 mb-1">Santé collective</h1>
        <div id="autoContent">
            <div class="autoItem">
                <p>
                    Assurance & cie, vous accompagne dans la mise en place de vos projets conformément aux règles établis par le législateur et vous propose des solutions innovantes pour protéger votre liberté de choix de vos praticiens et établissements de santé relevant du CAS et du NON CAS. Nous offrons les mêmes couverture pour les chefs d'entreprises et les indépendants.</p> <br>
                <p><strong>
                    Pour Rappel :
                    </strong></p><br>
                <p>
                   À partir du 1<sup>er</sup> janvier 2016, une couverture complémentaire santé collective obligatoire doit être proposée par l’employeur du secteur privé à tous les salariés, <strong>n’en disposant pas déjà</strong>, en complément des garanties de base d’assurance maladie de la Sécurité sociale. Tous les employeurs, y compris les associations, quelle que soit la taille de l'entreprise, sont concernés (seuls les particuliers employeurs sont exclus).
                </p>
            </div>
            <div class="autoItem">
                <h3 class="text-center">Demandez un devis dès maintenant !</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
    </div>

{% endblock %}