{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/faq.css') }}">{% endblock %}

{% block body %}
    <div class="faqContainer">
      <div class="col">
          <div class="createQuestion">
              {% if is_granted('ROLE_USER') %}
                  <h1>Posez votre question</h1>
                  <div class="formulaire">
                    {{form_start(questionForm)}}
                      {{ form_row(questionForm.content) }}
                        {{ form_row(questionForm.submit) }}
                    {{ form_end(questionForm) }}
                  </div>

                    <img class="imgFaq" src="./../../assets/images/faq/faqillu.png">


              {% else %}
                  <div class="alert alert-primary" role="alert">
                      <h4 class="alert-heading">Connectez-vous pour poser une question !</h4>
                      <p>Une question sur l'assurance ? Notre conseiller vous répond.</p>
                  </div>
              {% endif %}
        </div>
    </div>
        <div class="col">
          <div class="questions">
            <h3>Une question ? Notre expert vous répond !</h3>
            <form method="POST">
                <div class="form-group">
                  <label for="research">Cherchez si votre question a déjà été posé</label>
                  <input type="search" name="research" class="form-control maxWidth300">
                </div>
                <input type="submit" name="submitResearch" value="Chercher !" class="ctaFaq">
              </form>
            <div class="scrollQuestions">
              {% if results == null %}
                {% for question in questions %}
                <div id="accordion{{question.id}}">
                    <div class="questionCard">
                      <div id="heading{{question.id}}">
                        <h5 class="mb-0">
                          <button class="btn questionText" data-toggle="collapse" data-target="#response{{question.id}}" aria-expanded="true" aria-controls="response{{question.id}}">
                            {{ question.content |capitalize }}
                          </button>
                          <a href="{{ path('faq-remove', {id: question.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </h5>
                      </div>
                      {% if question.response %}
                        <div id="response{{question.id}}" class="collapse" aria-labelledby="heading{{question.id}}" data-parent="#accordion{{question.id}}">
                            <div class="card-body responseText">
                            {{ question.response }}
                            </div>
                        </div>
                      {% elseif is_granted('ROLE_ADMIN') %}
                        <div id="response{{question.id}}" class="collapse" aria-labelledby="heading{{question.id}}" data-parent="#accordion{{question.id}}">
                            <div class="card-body">
                                <form method="post" action="{{ path('give-response', {'id': question.id}) }}">
                                    <input type="text" class="form-control mb-3" placeholder="Votre réponse" name="response">
                                    <input type="submit" class="btn btn-outline-primary" value="Répondre" name="submitResponse">
                                </form>
                            </div>
                        </div>
                      {% endif %}

                    </div>
                  </div>
                {% endfor %}
              {% elseif results != [] %}
                  {% for result in results %}
                    <div id="accordion{{result.id}}">
                      <div class="questionCard">
                        <div id="heading{{result.id}}">
                          <h5 class="mb-0">
                            <button class="btn questionText" data-toggle="collapse" data-target="#response{{result.id}}" aria-expanded="true" aria-controls="response{{result.id}}">
                              {{ result.content |capitalize }}
                            </button>
                          </h5>
                        </div>
                        {% if result.response %}
                          <div id="response{{result.id}}" class="collapse" aria-labelledby="heading{{result.id}}" data-parent="#accordion{{result.id}}">
                              <div class="card-body responseText">
                              {{ result.response }}
                              </div>
                          </div>
                        {% elseif is_granted('ROLE_ADMIN') %}
                          <div id="response{{result.id}}" class="collapse" aria-labelledby="heading{{result.id}}" data-parent="#accordion{{result.id}}">
                              <div class="card-body">
                                  <form method="post" action="{{ path('give-response', {'id': result.id}) }}">
                                      <input type="text" class="form-control mb-3" placeholder="Votre réponse" name="response">
                                      <input type="submit" class="btn btn-outline-primary" value="Répondre" name="submitResponse">
                                  </form>
                              </div>
                          </div>
                        {% endif %}

                      </div>
                    </div>
                  {% endfor %}
              {% else %}
                  <p>Aucune question ne correspond à votre recherche</p>
              {% endif %}
              </div>
          </div>
      </div>
  </div>
{% endblock %}
