{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/devis.css') }}">
{% endblock %}


{% block body %}
<div class="formulage">
    <div class="autoForm">
                <h3 class="text-center">Demandez un devis dès maintenant&nbsp!</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-group">
                        <label for="choice">Votre demande concerne :</label>
                        <select  class="form-control"  name="choice" id="choice">
                            {% if secteur == 1 %}
                                <option value="assurance-auto">Assurance Auto</option>
                                <option value="assurance-2-roues">Assurance 2/3 roues</option>
                                <option value="complementaire-sante">Complémentaire santé</option>
                                <option value="epargne-retraite">Epargne retraite</option>
                                <option value="assurance-habitation">Assurance habitation</option>
                                <option value="assurance-pret">Assurance de prêt</option>
                                <option value="assurance-prevoyance">Assurance prévoyance</option>
                                <option value="assurance-produits">Assurance produits d'exception</option>
                                <option value="assurance-compagnie">Assurance de compagnie</option>
                                <option value="protection-juridique">Protection juridique</option>
                                <option value="assurance-voyage">Assurance voyage</option>
                            {% elseif secteur == 2 %}
                                <option value="sante-collective">Santé collective</option>
                                <option value="responsabilite-civique">Responsabilité civique</option>
                                <option value="flottes-automoto">Flottes auto/moto</option>
                                <option value="flottes-automoto">Flottes auto/moto</option>
                                <option value="retraite-collective">Retraite collective</option>
                                <option value="assurance-pret">Assurance de prêt</option>
                                <option value="locaux-pro">Locaux professionnels</option>
                                <option value="femmehomme-clé">Femme et homme clé </option>
                                <option value="perco-pee">Perco & Pee </option>
                                <option value="protection-juridiquefinca">Protection juridiqu et financière</option>
                                <option value="cyber-assu">Cyber-assurance</option>
                            {% elseif secteur == 3 %}
                                <option value="assurance-laveries">Assurance laveries</option>
                                <option value="femmehomme-clé">Femme et homme clé </option>
                                <option value="sante-madelin">Santé madelin</option>
                                <option value="responsabilite-civique">Responsabilité civique</option>
                                <option value="assurance-pret">Assurance de prêt</option>
                                <option value="locaux-pro">Locaux professionnels</option>
                                <option value="retraite-madelin">Retraite madelin</option>
                                <option value="prevoyance-madelin">Prévoyance madelin</option>
                                <option value="protection-juridiquefinca">Protection juridiqu et financière</option>
                                <option value="cyber-assu">Cyber-assurance</option>
                            {% endif %}
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                    </div>
                    <div class="text-center bouton">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
</div>
{% endblock %}
