{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/devis.css') }}">
{% endblock %}


{% block body %}
<div class="formulage">
    <div class="autoForm">
                <h3 class="text-center">Demandez un devis dès maintenant&nbsp!</h3>
                {{ form_start(assuranceForm) }}
                    {{ form_row(assuranceForm._token) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.firstname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(assuranceForm.lastname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            {{ form_row(assuranceForm.email) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_row(assuranceForm.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(assuranceForm.documents) }}
                         {{ form_row(assuranceForm.isAttending) }}
                    </div>
                    <div class="text-center bouton">   
                        {{ form_row(assuranceForm.submit) }}
                    </div>
                {{ form_end(assuranceForm) }}
            </div>
        </div>
</div>
{% endblock %}
