{% extends 'base.html.twig' %}
{% block title %}Choix du devis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/choixDevis.css') }}">
{% endblock %}

{% block body %}
<div class="bgcontainer">
    <div class="flexCenter">
        <h1 >Vous etes ?</h1>
    </div>
    <div class="flexContainer">
        <a href="{{path('devis')}}">
            <div class="flexItem">
                <img src="{{ asset('assets/images/devis/undraw_people_tax5.png') }}">
                <h4>Particulier</h4>
            </div>
        </a>
        
        <a href="{{path('devis')}}">
            <div class="flexItem">
                <img src="{{ asset('assets/images/devis/undraw_product_iteration_kjok.png') }}">
                <h4>Entreprise</h4>
            </div>
        </a>

        <a href="{{path('devis')}}">
            <div class="flexItem">
                <img src="{{ asset('assets/images/devis/undraw_factory_dy0a.png') }}">
                <h4>Libéreaux, Artisans, Commerçants</h4>
            </div>
        </a>

    </div>
</div>
{% endblock %}
