{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href=" {{ asset('./assets/css/liste-article.css') }}"> 

 <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
 {% endblock %}


{% block body %}
<div class="bgcontainer">
    <div class="coco" style="min-height: 75vh">
        <div class="flexCenter">
            {% if blog == "assurance" %}
                <h1 class="marginTop mb-5">Tout savoir sur l'assurance</h1>
            {% else %}
                <h1 class="marginTop mb-5">Tout savoir sur la moto</h1>
            {% endif %}
        </div>
            <img class="blogImg"src="./../../../assets/images/blogImg.png">


        <div class="ligne">
            <div class="swiper-container-article">
                <div class="swiper-wrapper">
                    {% for article in articles  %}
                        <div class="swiper-slide">
                          <a href="{{ path('article', {'id': article.id}) }}" class="lienSlide">
                            <div class="containSlide">
                                <div class="imgContainer">
                                    <img src="{{ asset('/uploads/images/' ~ article.image) }}">
                                </div>
                                <h5>{{article.title}}</h5>
                                <span>Le {{article.createdAt| date('d/m/Y')}}</span><br>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('removeArticle', {'id': article.id}) }}" class="btn btn-danger mt-3">Supprimer l'article</a>
                                {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
               </div>
               <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>

<script src="{{ asset('assets/js/articleList.js') }}"></script>

{% endblock %}
