<div id="navbar">
    <div id="navbar-main">

           <a href="{{path('home')}}"> <img src="./../../assets/images/accueil/accueilLogo.png"></a>

        <div class="navbar-item" id="particuliers">
            <a class="lienMain" href="{{path('SecteurParticulier')}}">Particuliers </a>
            <ul class="navbar-under" id="under-particuliers">
                <li class="navbar-under-item">Assurance auto</li>
                <li class="navbar-under-item">Assurance 2/3 roues</li>
                <li class="navbar-under-item">Complémentaire santé</li>
                <li class="navbar-under-item">Epargne retraite</li>
                <li class="navbar-under-item">Assurance habitation</li>
                <li class="navbar-under-item">Assurance de prêt</li>
                <li class="navbar-under-item">Assurance prévoyance</li>
                <li class="navbar-under-item">Produits d'exception</li>
                <li class="navbar-under-item">Animaux de compagnie</li>
                <li class="navbar-under-item">Protection juridique</li>
                <li class="navbar-under-item">Assurance voyage</li>
            </ul>
        </div>
        <div class="navbar-item" id="entreprises">
           <a class="lienMain" href="#"> Entreprises </a>
            <ul class="navbar-under" id="under-entreprises">
                <li class="navbar-under-item">Santé collective</li>
                <li class="navbar-under-item">Responsabilité civique</li>
                <li class="navbar-under-item">Flottes auto/moto</li>
                <li class="navbar-under-item">Retraite collective</li>
                <li class="navbar-under-item">Assurance de prêt</li>
                <li class="navbar-under-item">Locaux professionnels</li>
                <li class="navbar-under-item">Femme et homme clé</li>
                <li class="navbar-under-item">Perco & Pee</li>
                <li class="navbar-under-item">Protection juridique et financière</li>
                <li class="navbar-under-item">Cyber-assurance</li>
            </ul>
        </div>
        <div class="navbar-item" id="liberaux">
            <a  class="lienMain" href="{{path('SecteurLiberaleArtisansCommercants')}}">  Liberaux, artisants, commerçants </a>

            <ul class="navbar-under" id="under-liberaux">
                <li class="navbar-under-item">Assurance laveries</li>
                <li class="navbar-under-item"><a href="{{path('femmeHommeCle')}}">Femme et homme clé</a></li>
                <li class="navbar-under-item">Santé madelin</li>
                <li class="navbar-under-item">Responsabilité civique</li>
                <li class="navbar-under-item">Assurance de prêt</li>
                <li class="navbar-under-item">Locaux professionnels</li>
                <li class="navbar-under-item">Retraite madelin</li>
                <li class="navbar-under-item">Prévoyance madelin</li>
                <li class="navbar-under-item">Protection juridique et financière</li>
                <li class="navbar-under-item">Cyber-assurance</li>
            </ul>
        </div>
        <div class="navbar-item" id="blogs">
            <a class="lienMain" href="{{path('blogs')}}">Nos blogs</a>
            <ul class="navbar-under" id="under-blogs">
                <li class="navbar-under-item">Assurance</li>
                <li class="navbar-under-item">Moto</li>
                <li class="navbar-under-item">FAQ</li>
            </ul>
        </div>
    </div>
    <div id="link">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('account') }}" class="connect">Mon compte</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="connect">Me connecter</a>
        {% endif %}
        <a href="#" class="devis btn btn-outline-light">Demander un devis</a>
    </div>

</div>
    
<div id="burger"> 
    <i class="fas fa-bars"></i>
</div>