<div id="navbar">
    <div id="navbar-main">

           <a href="{{path('home')}}"> <img src="./../../assets/images/accueil/accueilLogo.png"></a>

        <div class="navbar-item" id="particuliers">
            <a class="lienMain" href="{{path('SecteurParticulier')}}"> <span class="underline"> Particuliers </span> </a>
            <ul class="navbar-under" id="under-particuliers">
                <li class="navbar-under-item"><a href="{{path('AssuranceAuto')}}">Assurance auto</a></li>
                <li class="navbar-under-item"><a href="{{path('Assurance23Roues')}}">Assurance 2/3 roues</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceComplementaireSante')}}">Complémentaire santé</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceRetraite')}}">Epargne retraite</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceHabitation')}}">Assurance habitation</a></li>
                <li class="navbar-under-item"><a href="{{path('AssurancePretParticulier')}}">Assurance de prêt</a></li>
                <li class="navbar-under-item"><a href="{{path('AssurancePrevoyance')}}">Assurance prévoyance</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceProduits')}}">Produits d'exception</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceAnimauxCompagnie')}}">Animaux de compagnie</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceProtectionJuridique')}}">Protection juridique</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceVoyage')}}">Assurance voyage</a></li>
            </ul>
        </div>
        <div class="navbar-item" id="entreprises">
           <a class="lienMain" href="{{path('SecteurEntreprise')}}"> <span class="underline"> Entreprises </span> </a>
            <ul class="navbar-under" id="under-entreprises">
                <li class="navbar-under-item"><a href="{{path('santeCollective')}}">Santé collective</a></li>
                <li class="navbar-under-item"><a href="{{path('responsabiliteCivile')}}">Responsabilité civique</a></li>
                <li class="navbar-under-item"><a href="{{path('flotteAutoMoto')}}">Flottes auto/moto</a></li>
                <li class="navbar-under-item"><a href="{{path('retraiteCollective')}}">Retraite collective</a></li>
                <li class="navbar-under-item"><a href="{{path('AssurancePretParticulier')}}">Assurance de prêt</a></li>
                <li class="navbar-under-item"><a href="{{path('locauxProfessionnels')}}">Locaux professionnels</a></li>
                <li class="navbar-under-item"><a href="{{path('femmeHommeCle')}}">Femme et homme clé</a></li>
                <li class="navbar-under-item"><a href="{{path('PercoPee')}}">Perco & Pee</a></li>
                <li class="navbar-under-item"><a href="{{path('protectionJuridiqueFiscale')}}">Protection juridique et financière</a></li>
                <li class="navbar-under-item"><a href="{{path('cyberAssurance')}}">Cyber-assurance</a></li>
            </ul>
        </div>
        <div class="navbar-item" id="liberaux">
            <a  class="lienMain" href="{{path('SecteurLiberaleArtisansCommercants')}}"><span class="underline">   Liberaux, artisants, commerçants</span> </a>

            <ul class="navbar-under" id="under-liberaux">
                <li class="navbar-under-item"><a href="{{path('assuranceLaverie')}}">Assurance laveries</a></li>
                <li class="navbar-under-item"><a href="{{path('femmeHommeCle')}}">Femme et homme clé</a></li>
                <li class="navbar-under-item"><a href="{{path('AssuranceComplementaireSante')}}">Santé madelin</a></li>
                <li class="navbar-under-item"><a href="{{path('responsabiliteCivile')}}">Responsabilité civique</a></li>
                <li class="navbar-under-item"><a href="{{path('AssurancePretParticulier')}}">Assurance de prêt</a></li>
                <li class="navbar-under-item"><a href="{{path('locauxProfessionnels')}}">Locaux professionnels</a></li>
                <li class="navbar-under-item"><a href="{{path('retraiteMadelin')}}">Retraite madelin</a></li>
                <li class="navbar-under-item"><a href="{{path('provoyanceMadelin')}}">Prévoyance madelin</a></li>
                <li class="navbar-under-item"><a href="{{path('protectionJuridiqueFiscale')}}">Protection juridique et financière</a></li>
                <li class="navbar-under-item"><a href="{{path('cyberAssurance')}}">Cyber-assurance</a></li>
            </ul>
        </div>
        <div class="navbar-item" id="blogs">
            <a class="lienMain" href="{{path('blogs')}}"> <span class="underline"> Nos blogs </span></a>
            <ul class="navbar-under" id="under-blogs">
                <li class="navbar-under-item"><a href="{{path('assurance_articles')}}">Assurance</a></li>
                <li class="navbar-under-item"><a href="{{path('moto_articles')}}">Moto</a></li>
                <li class="navbar-under-item"><a href="{{path('faq')}}">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div id="link">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('account') }}" class="connect">Mon compte</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="connect">Me connecter</a>
        {% endif %}
        <a href="{{path('devis')}}" class="devis">Demander un devis</a>
    </div>

</div>
    
<div id="burger"> 
    <i class="fas fa-bars"></i>
</div>